section.cloudflare {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 15px;
	background: #FFF;
	color: #333;
	margin: 15px auto;

	border: 1px solid #DEDEDE;
	border-radius: 2px;
	box-sizing: border-box;
	max-width: 960px;
	display: block;
	position: relative;
}

section.cloudflare.loading > div.lightbox {
	transition: all 200ms;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba( 0, 0, 0, 0.1 );
	cursor: not-allowed;
}

section.cloudflare > div.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

section.cloudflare > div.row > div.wrapper_bottom {
	width: 100%;
	box-sizing: border-box;
	height: 0px;
    padding: 0;
    border: 0;
	transition: all 200ms;
	overflow: hidden;
}

section.cloudflare.loading > div.row > div.wrapper_bottom,
section.cloudflare.response_success > div.row > div.wrapper_bottom,
section.cloudflare.response_warning > div.row > div.wrapper_bottom,
section.cloudflare.response_error > div.row > div.wrapper_bottom {
	height: 50px;
	border-top: 1px solid #DEDEDE;
	padding: 15px 25px;
}

section.cloudflare > div.row > div.wrapper_left,
section.cloudflare > div.row > div.wrapper_right {
	box-sizing: border-box;
	padding: 25px;
}

section.cloudflare > div.row > div.wrapper_right > div {
	width: 100%;
}

section.cloudflare > div.row > div.wrapper_left {
	width: 100%;
}

section.cloudflare > div.row > div.wrapper_right {
	background: #F0F0F0;
	width: 600px;
	border-left: 1px solid #DEDEDE;
	align-self: stretch;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

section.cloudflare > div.row > div.wrapper_left > span.section_title {
	font-weight: 400;
	font-size: 1.4em;
}

section.cloudflare > div.row > div.wrapper_left > p {
	margin: 15px 0;
	line-height: 1.5em;
}

section.cloudflare textarea {
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
	min-height: 3.8em;
	padding: 10px;
    font-size: 0.9em;
    font-weight: 100;
	color: #333;
	border: solid 1px #2869A2;
	border-radius: 2px;
	margin: 5px 0;
	max-height: 200px;
}

section.cloudflare input[type="text"],
section.cloudflare input[type="email"],
section.cloudflare input[type="password"] {
	box-sizing: border-box;
	width: 100%;
	padding: 7px 15px;
	color: #333;
	background: #FFF;
	border-radius: 2px;
	border: solid 1px #BCBCBC;
	font-size: 0.9em;
	font-weight: 100;
	margin: 5px 0;
}

section.cloudflare input[type="button"],
section.cloudflare input[type="submit"] {
	box-sizing: border-box;
	width: 100%;
	padding: 7px 15px;
	color: #FFF;
	background: #307bc0;
	border-radius: 2px;
	border: 0;
	font-size: 1em;
	margin: 5px 0;
	transition: all 200ms;
	cursor: pointer;
	font-weight: 100;
}

section.cloudflare input[type="button"]:hover,
section.cloudflare input[type="submit"]:hover {
	background: #215685;
}

section.cloudflare img.load {
	transition: all 200ms;
	height: 20px;
    position: relative;
    display: inline;
    float: left;
	display: none;
}

section.cloudflare p.messages {
	height: 20px;
    font-size: 1em;
    position: relative;
    display: inline;
    float: left;
}

section.cloudflare p.messages > span {
	width: 100%;
    display: block;
	margin-top: 0px;
	opacity: 1;
	transition: opacity, margin-top 200s;
	max-width: 800px;
	max-height: 20px;
	overflow: hidden;
}

section.cloudflare p.messages > span.hidden {
	display: none;
	margin-top: -20px;
	opacity: 0;
}

section.cloudflare p.messages > span:hidden {
	margin-top: -15px;
}

section.cloudflare div.status_pair label {
	display: inline;
	float: left;
	font-weight: bold;
}

section.cloudflare div.status_pair p {
	color: #2F7BBF;
}

section.cloudflare div.status_pair p:before {
	content: "\00a0\00a0";
}




section.cloudflare.loading img.load {
	display: block;
}

section.cloudflare.loading p.messages {
	display: none;
	padding-left: 15px;
}

section.cloudflare.loading input,
section.cloudflare.loading textarea,
section.cloudflare.loading label.switch .slider {
	cursor: not-allowed;
}







section.cloudflare select {
	padding: 15px;
	color: #333;
	font-size: 1em;
	width: 100%;
}



@media screen and (max-width:1100px) {

	section.cloudflare > div.row {
		flex-direction: column;
	}

	section.cloudflare > div.row > div.wrapper_right {
		width: 100%;
		border-left: 0;
		border-top: 1px solid #DEDEDE;
	}

}

section.cloudflare .group_wrapper {
	width: 100%;
	margin: 10px auto;
    max-width: 110px;
}

section.cloudflare .group_wrapper input[type="radio"],
section.cloudflare .group_wrapper input[type="checkbox"] {
	margin-right: 15px;
	margin-bottom: 3px;
}

section.cloudflare .group_wrapper + input[type="button"],
section.cloudflare .group_wrapper + input[type="submit"] {
	margin-top: 25px;
}

section.cloudflare .material-icons {
	display: inline;
	float: left;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #2F7BBF;

  padding-right: 15px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

section.cloudflare i.success {
	color: #9BCA3D;
}

section.cloudflare i.warning {
	color: #FF7900;
}

/* section.cloudflare i.error {
	color: #F37F22 !important;
} */

section.cloudflare.response_success i.success,
section.cloudflare.response_warning i.warning,
section.cloudflare.response_error i.error {
	display: inline;
}

section.cloudflare i.success,
section.cloudflare i.error,
section.cloudflare i.warning,
section.cloudflare.response_success i.error,
section.cloudflare.response_success i.warning,
section.cloudflare.response_error i.success,
section.cloudflare.response_error i.warning,
section.cloudflare.response_warning i.error,
section.cloudflare.response_warning i.success,
section.cloudflare.loading i.success,
section.cloudflare.loading i.error,
section.cloudflare.loading i.warning {
	display: none;
}
