<?xml version="1.0" encoding="UTF-8" ?>

<config>
	<modules>
		<JetRails_Cloudflare>
			<version>1.2.7</version>
		</JetRails_Cloudflare>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<JetRails_Cloudflare after="Mage_Adminhtml" >JetRails_Cloudflare</JetRails_Cloudflare>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<blocks>
			<cloudflare>
				<class>JetRails_Cloudflare_Block_Adminhtml</class>
			</cloudflare>
		</blocks>
		<helpers>
			<cloudflare>
				<class>JetRails_Cloudflare_Helper</class>
			</cloudflare>
		</helpers>
		<models>
			<cloudflare>
				<class>JetRails_Cloudflare_Model_Adminhtml</class>
			</cloudflare>
		</models>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<cloudflare>
					<file>cloudflare.xml</file>
				</cloudflare>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<cloudflare>
			<configuration>
				<auth_zone></auth_zone>
				<auth_token></auth_token>
			</configuration>
		</cloudflare>
	</default>
</config>
