.middle {
	background: $color-fill_gray_dark;
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
}

.main-col {
	background: $color-fill_gray_dark;
	padding: 0 !important;
}

.columns {
	background: $color-white;
}

.entry-edit {
	padding: 0 30px 75px;
}
