.cloudflare_logo {
	width: 60%;
    margin-left: 20%;
	margin-top: 15px;
    margin-bottom: 15px;
}

.cloudflare_logo + span {
    display: block;
    font-size: 0.5em;
    text-align: center;
    font-weight: 100;
    margin-top: 20px;
}

.side-col > h3 {
	background: $color-fill_gray_light;
	margin-bottom: 0;
}

.made-with-love:before {
    height: 84px;
    content: "made with ♥ by";
	font-family: "Open Sans";
    position: absolute;
    right: 182px;
    margin-top: -84px;
    line-height: 84px;
    font-size: 14px;
    font-weight: 100;
    color: #333333;
}

.made-with-love:after {
    content: "";
    background: url(/skin/adminhtml/base/default/images/cloudflare/jetrails.svg);
    position: absolute;
    right: 52px;
    height: 84px;
    width: 120px;
    margin-top: -84px;
    background-size: contain;
    background-position: left 50%;
    background-repeat: no-repeat;
}
