.cloudflare_logo {
	width: 60%;
    margin-left: 20%;
	margin-top: 15px;
    margin-bottom: 15px;
}

.cloudflare_logo + span {
    display: block;
    font-size: 0.5em;
    text-align: center;
    font-weight: 100;
    margin-top: 20px;
}

.side-col > h3 {
	background: $color-fill_gray_light;
	margin-bottom: 0;
}
