ul.tabs {
	border: none;
    border-top: solid 1px $color-border_gray;
	a, a:hover {
		transition: all 200ms;
		background: $color-white !important;
		padding-top: 4px;
		span {
			display: inline-block;
			background: none;
			.changed, .error {
				display: none;
			}
		}
		background-color: #E6E6E6;
		.cloudflare_tab_icon {
			background: #2968A2;
		}
		&changed {
			font-style: normal;
		}
	}
	.cloudflare_tab_icon {
		display: inline !important;
		float: left;
		transition: all 200ms;
		background: #307BC0;
		border-radius: 3px;
		height: 50px;
	}
	.cloudflare_tab_label {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 1.1em;
		background: none;
		display: inline !important;
		float: left;
		line-height: 50px;
		padding: 0 0.5em 0 1.5em;
	}
	.active, .active:hover {
		padding-top: 4px !important;
		background: $color-fill_gray_dark !important;
		border-bottom: 0 !important;
		span {
			background: none !important;
		}
		.cloudflare_tab_icon {
			background: #1F4E78;
		}
		.cloudflare_tab_label {
			font-weight: 500;
		}
	}
}
