section.cloudflare {
	table {
		width: 100%;
		tr {
			transition: all 500ms;
			background: #FAFAFA;
			&:nth-child(even) {
				background: #FFFFFF;
			}
			&:hover {
				background: #F0F0F0;
			}
			th {
				font-family: "Open Sans";
				text-align: left;
				vertical-align: middle;
				background: #DEDEDE;
				padding: 13px 10px;
				color: #333;
				font-weight: 600;
				cursor: pointer;
				&.sort-asc:after {
				    font-family: "cloudflare-font";
				    content: "\F000";
					margin-left: 5px;
				}
				&.sort-desc:after {
					font-family: "cloudflare-font";
					content: "\F003";
					margin-left: 5px;
				}
			}
			td {
				&.type { width: 75px }
				&.name { max-width: 230px }
				&.value { max-width: 200px }
				&.ttl { max-width: 200px }
				&.status { max-width: 200px }
				&.delete { max-width: 37px }
				position: relative;
				font-family: "Open Sans";
				text-align: left;
				vertical-align: middle;
			    padding: 10px 10px;
    			box-sizing: border-box;
				height: 55px;
				overflow: hidden;
				color: #333;
				font-weight: 100;
				border-bottom: solid 1px $color-border_gray;
				white-space: nowrap;
				text-overflow: ellipsis;
				&.type_cfns { border-left: solid 2px #307BC0; color: #333333; }
				&.type_a { border-left: solid 2px #333333; color: #333333; }
				&.type_aaaa { border-left: solid 2px #7C7C7C; color: #7C7C7C; }
				&.type_cname { border-left: solid 2px #FF7900; color: #FF7900; }
				&.type_mx { border-left: solid 2px #D91698; color: #D91698; }
				&.type_loc { border-left: solid 2px #62A1D8; color: #62A1D8; }
				&.type_srv { border-left: solid 2px #BD2527; color: #BD2527; }
				&.type_spf { border-left: solid 2px #333333; color: #333333; }
				&.type_txt { border-left: solid 2px #9BCA3E; color: #9BCA3E; }
				&.type_ns { border-left: solid 2px #9545E5; color: #9545E5; }
				&.type_caa { border-left: solid 2px #BD2527; color: #BD2527; }
				&.value {
					padding: 10px 40px 10px 10px;
				}
				.delete_entry {
				    background: #DEDEDE;
				    border-radius: 2px;
					border-bottom: solid 1px #BABABA;
				    height: 30px;
				    width: 30px;
					cursor: pointer;
					transition: all 200ms;
					text-align: center;
					font-size: 1em;
				    padding-top: 7px;
				    box-sizing: border-box;
					&:hover {
						background: #CCC;
					}
				}
				.priority {
					position: absolute;
					right: 0;
					top: calc( 50% - 0.4em - 6px );
					font-size: 0.8em;
					border-radius: 0.7em;
					line-height: 1.5em;
					border: solid 1px #777;
					background: none;
					padding: 2px 5px;
					color: #777;
				}
			}
			th:hover {
				background: #CECECE;
				transition: all 200ms;
			}
		}
	}
}
